name: FastAPI CI

on:
  push:
    branches:
      - main

  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build:
    # Run if:
    # 1) Direct push to main
    # 2) PR closed AND merged into main
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    runs-on: ubuntu-latest

    steps:
      - name: Trigger Jenkins
        run: |
          curl -X POST ${{ secrets.JENKINS_URL }}/job/learning-fastapi/build \
          --user ${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}
